@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @font-face {
    font-family: "Cascadia Code";
    src: url("/fonts/CascadiaCode.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  .intro-container {
    @apply max-w-screen-md mx-auto grid grid-cols-1 place-items-center
    px-4 xl:px-0 min-h-screen;
  }

  .intro-heading {
    @apply font-bold py-2 tracking-tight cursor-pointer
    leading-none heading select-none text-shadow;
  }

  .profile-card {
    @apply border-2 border-sky-400 rounded-me
    -mt-0 md:-mt-3 bg-gray-950 p-2 w-full
    flex items-center cursor-pointer mb-10;
  }

  .intro-button {
    @apply my-4 px-8 py-2 inline-flex items-center
    bg-mwelwa-orange hover:bg-white text-gray-900
    text-lg font-medium rounded-lg cursor-pointer;
  }

  .contact-button {
    @apply inline-flex items-center font-medium
    text-xl transition-all duration-200
    cursor-pointer;
  }

  .badge {
    @apply px-2 py-1 text-xs rounded-md font-bold bg-gray-800;
  }

  .heading {
    @apply text-[65px] xs:text-7xl sm:text-[80px] md:text-[95px] lg:text-[110px];
  }

  .navigation {
    @apply fixed left-0 right-0 mx-auto z-10;
  }

  .unblur {
    animation: unBlur 1s linear;
  }

  .title-mark {
    position: relative;
    cursor: pointer;
  }

  .text-hover {
    @apply inline-flex items-center font-medium text-xl 
    transition-all duration-200 cursor-pointer;
  }

  .title-mark::before {
    @apply bg-sky-500 absolute inset-0 transform;
    content: "";
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
    z-index: -1;
  }

  .title-mark:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }

  .sidebar {
    @apply fixed top-0 w-[17.5rem] min-h-screen bg-gray-950 border-l 
    border-gray-800 transition-all duration-[550ms] z-30 p-3;
  }

  .sidebarOverlay {
    @apply w-[100vw] min-h-screen fixed top-0 left-0 bg-gray-900/20 
    backdrop-blur z-20 transition-all duration-300;
  }

  .sidebarOverlayDouble {
    @apply fixed top-0 bg-gray-950 w-[14.688rem] transition-all 
    duration-[400ms] border-l border-gray-800 shadow-xl shadow-black/50
    min-h-screen px-4 py-3 flex flex-col items-end justify-between;
  }

  @keyframes unBlur {
    from {
      filter: blur(10px);
    }
    to {
      filter: blur(0);
    }
  }
}

@layer utilities {
  .writing-mode-vertical {
    writing-mode: vertical-lr;
  }

  .text-shadow {
    text-shadow: 5px 5px #4b5563;
  }

  .rounded-me {
    border-radius: 18px 0 18px 18px;
  }

  .shadow-3d {
    box-shadow: 4px 5px 0 0 #1f2937;
  }

  .border-tlr {
    @apply border-t-[3px] border-r-[3px] border-l-[3px];
  }
}

.wave {
  animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.667s;
  /* Change to speed up or slow down */
  animation-iteration-count: infinite;
  /* Never stop waving :) */
  transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
